.idea/.gitignore
.idea/easycode.ignore
.idea/misc.xml
.idea/modules.xml
.idea/SparDL-main.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
